/* General extra */

.bp_message {
	background-color: #ffffc8;
	border: 0.1em solid #ffff84;
	margin: auto;
	text-align: center;
}

.bp_brand {
	font-size: 3em;
}

.bp_logo {
	font-size: 2em;
}

.bp_snippet {
	background-color: #fcfcfc;
	display: block;
	font-size: 1em;
	margin: 1em;
	padding: 0.5em;
	width: 100%;
}

.bp_resizable {
	overflow: auto;
	resize: both;
}

.bp_footer {
	margin: auto;
	width: 100%;
}

/* Position */

.bp_relative{
	position: relative;
}

/* Visibility */

.bp_hidden {
	visibility: hidden;
}

.bp_visible {
	visibility: visible;
}

/* Space */

.bp_small_break {
	height: 1em;
}

.bp_medium_break {
	height: 2em;
}

.bp_large_break {
	height: 5em;
}

/* Rounded corner */

.bp_rounded_corner {
	border-radius: 0.5em;
}

.bp_extra_rounded_corner {
    border-radius: 10em;
}

/* Cropped corners. */
.bp_cut_corner {
	background: #47b912;
	background:
		linear-gradient( 135deg, transparent 10px, #47b912 0 ) top left, 
		linear-gradient( 225deg, transparent 0px, #47b912 0 ) top right,
		linear-gradient( 315deg, transparent 10px, #47b912 0 ) bottom right,
		linear-gradient( 45deg,  transparent 0px, #47b912 0 ) bottom left;
	background-size: 50% 50%;
	background-repeat: no-repeat;
}

.bp_border_circular {
	border: 0.077em solid #ffffff;
	border-radius: 50px;
	width: 50px;
	height: 50px;
	line-height: 50px;
}

.bp_text_overlay {
	position: relative; 
	width: 100%; /* for IE 6 */
}

.bp_text_overlay  span{ 
	position: absolute; 
	top: 0;
}