.blastpad .white { background-color: #FFFFFF;}
.blastpad .magenta { background-color: #FF0097;}
.blastpad .red { background-color: #E51400;}
.blastpad .orange { background-color: #F09609;}
.blastpad .yellow { background-color: #FFD700;}
.blastpad .olive { background-color: #8CBF26;}
.blastpad .green { background-color: #339933;}
.blastpad .teal { background-color: #00ABA9;}
.blastpad .blue { background-color: #1BA1E2;}
.blastpad .violet { background-color: #EE82EE;}
.blastpad .purple { background-color: #A200FF;}
.blastpad .pink { background-color: #E671B8;}
.blastpad .brown { background-color: #A05000;}
.blastpad .gray { background-color: #A0A0A0;}
.blastpad .black { background-color: #000000;}