.blastpad .white { background-color: #fdf1cb;}
.blastpad .red { background-color: #930C08;} /* #fb2e01 */
.blastpad .orange { background-color: #ffe28a;}
.blastpad .yellow { background-color: #fffeb3;}
.blastpad .olive { background-color: #EBC732;}
.blastpad .green { background-color: #6fcb9f;}
.blastpad .teal { background-color: #AFDDE5;}
.blastpad .blue { background-color: #83A9BE;}
.blastpad .violet { background-color: #845F70;}
.blastpad .purple { background-color: #B03060;}
.blastpad .pink { background-color: #F2C1B0;}
.blastpad .brown { background-color: #CFAD8A;}
.blastpad .gray { background-color: #666547;}
.blastpad .black { background-color: #000000;}