.blastpad .white { background-color: #FFFFFF;}
.blastpad .red { background-color: #B03060;}
.blastpad .orange { background-color: #FE9A76;}
.blastpad .yellow { background-color: #FFD700;}
.blastpad .olive { background-color: #32CD32;}
.blastpad .green { background-color: #016936;}
.blastpad .teal { background-color: #008080;}
.blastpad .blue { background-color: #0E6EB8;}
.blastpad .violet { background-color: #EE82EE;}
.blastpad .purple { background-color: #B413EC;}
.blastpad .pink { background-color: #FF1493;}
.blastpad .brown { background-color: #A52A2A;}
.blastpad .gray { background-color: #A0A0A0;}
.blastpad .black { background-color: #000000;}