<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>BlastPad UI Boilerplate Example</title>	
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="HandheldFriendly" content="true" />
	<meta name="MobileOptimized" content="320" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui" />
	<meta http-equiv="cleartype" content="on" />
	<!--[if IE]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link href="http://blastpad.co/ui/vendor/blastpad_ui/0.0.6/asset/module/css/blastpad_ui.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="bp_container bp_full">
		<!-- Place your custom content here. -->
			<div>
				<div id="bp_content">
					<h1>BlastPad UI</h1><h3>Full-width Example</h3>
					<p>This is an example of a one-column, full-width page layout.  The content goes from one side all the way to the other.
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
				</div>
			</div>	
		<!-- End of custom content. -->
	</div><!-- End of bp_container div. -->
</body>
</html>