/* 
	This file resets HTML elements so that they render consistently across all browsers.  
	Do not add your custom CSS here since they will get overwritten when you upgrade. 
*/

html {
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
	font-size: 16px;
    margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
ol,
ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6, {
    font-size: inherit;
}

a {
	color: inherit;
    text-decoration: none;
	transition: .3s;
	-moz-transition: .3s;
    -webkit-transition: .3s;
}

img {
    border: 0;
	height: auto;
	max-width: 100%;
}