html, body {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	height: 100%;
}

.blastpad  {
	font-family: "Lato", Arial, Helvetica, sans-serif;
	font-size: 1em;
	margin: auto;
	height: 100%;
	width: 100%;
}

.blastpad .container {
	height: 100%;
	margin: auto;
	max-width: 1080px;
	width: 100%;
}

.blastpad main {
	background-color: transparent;
	clear: both;
	height: 100%;
	margin: auto;
	max-width: 900px;
	padding: 10px;
}

.blastpad .message {
	background-color: #f7ff00;
	border: 1px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: auto;
	text-align: center;
}

.blastpad ul {
    margin: 0;
	padding: 0;
}

.blastpad a:link, .blastpad a:visited, .blastpad a:active {
	color: #0074d9;
	text-decoration: none;
}

.blastpad hr {
	border: 0;
	background: #efefef;
	height: 1px;
	margin: 10px;
}

/* Headings */

.blastpad h1 {
	font-size: 2em;
}

.blastpad h2 {
	font-size: 1.8em;
}

.blastpad h3 {
	font-size: 1.6em;
}

.blastpad h4 {
	font-size: 1.4em;
}

.blastpad h5 {
	font-size: 1.2em;
}

.blastpad h6 {
	font-size: 1em;
}

/* Footer. */
footer {
	background-color: #030303;
	color: #efefef;
	width: 100%;
}

.footer {
	margin: auto;
	width: 900px;
}

