/* Forms. */
.blastpad label {
	color: #333333;
	font-weight: bold;
}

.blastpad input {
	font-size: 1em;
	border: 1px solid #dddddd;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 10px;
	padding: 10px;
}

.blastpad input[ type="text" ], .blastpad input[ type="password" ], .blastpad input[ type="email" ], .blastpad textarea {	
	margin: 10px 0 0 0;
	width: 80%;
}

.blastpad input[ type="submit" ], .blastpad input[ type="button" ] {
	background-color: #18bc9c;
	color: #fefefe;
	font-weight: bold;
	margin: auto;
	padding: 10px 20px 10px 20px;
}

.blastpad .form_container {
	background-color: transparent;
	height: 100%;
	position: relative;
	width: 100%;
}

.blastpad .form_box {
	background-color: transparent;
	height: 50%;
	left: 50%;
	max-width: 500px;
	min-width: 320px;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
}

.blastpad label {
	padding: 5px;
}

.blastpad .form {
	background-color: #ffffff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 10px;	
}