.blastpad .menu_top {
	float: right;
}

.blastpad .nav {
	background: -webkit-linear-gradient(top, #f8f8f8, #eee);
    background: -moz-linear-gradient(top, #f8f8f8, #eee);
    background: linear-gradient(top, #f8f8f8, #eee);
	float: left;
	font-size: 0.9em;
	font-weight: bold;
	width: 100%;
}

.blastpad .menu_toolbar {
	background: -webkit-linear-gradient(top, #f8f8f8, #eee);
    background: -moz-linear-gradient(top, #f8f8f8, #eee);
    background: linear-gradient(top, #f8f8f8, #eee);
	bottom: 0;
	padding: 5px;
	width: 100%;
}

.blastpad .sticky {
	position: fixed;
}

.blastpad .bar_container {
	background-color: transparent;
	margin: auto;
	position: fixed;
	width: 100%;
	z-index: 1;
}

.blastpad .bar_container a {
	text-decoration: none;
}

.blastpad .bar {
	background-color: transparent;
	margin: auto;
	width: 900px;
}

.blastpad .logo {
	background-color: #00ff00;
	float: left;
}

.blastpad .menu {
	background-color: #efefef;
	text-align: right;
}

.blastpad .menu ul {
	list-style: none;
}

.blastpad .menu li{
	display: inline;
}