.bp_white { background-color: #fdf1cb;}
.bp_red { background-color: #930C08;} /* #fb2e01 */
.bp_orange { background-color: #ffe28a;}
.bp_yellow { background-color: #fffeb3;}
.bp_olive { background-color: #EBC732;}
.bp_green { background-color: #6fcb9f;}
.bp_teal { background-color: #AFDDE5;}
.bp_blue { background-color: #83A9BE;}
.bp_violet { background-color: #845F70;}
.bp_purple { background-color: #B03060;}
.bp_pink { background-color: #F2C1B0;}
.bp_brown { background-color: #CFAD8A;}
.bp_gray { background-color: #666547;}
.bp_black { background-color: #000000;}