.bp_white { background-color: #FFFFFF;}
.bp_red { background-color: #B03060;}
.bp_orange { background-color: #FE9A76;}
.bp_yellow { background-color: #FFD700;}
.bp_olive { background-color: #32CD32;}
.bp_green { background-color: #016936;}
.bp_teal { background-color: #008080;}
.bp_blue { background-color: #0E6EB8;}
.bp_violet { background-color: #EE82EE;}
.bp_purple { background-color: #B413EC;}
.bp_pink { background-color: #FF1493;}
.bp_brown { background-color: #A52A2A;}
.bp_gray { background-color: #A0A0A0;}
.bp_black { background-color: #000000;}