.bp_menu_top {
	float: right;
}

.bp_nav {
	background: -webkit-linear-gradient(top, #f8f8f8, #eee);
    background: -moz-linear-gradient(top, #f8f8f8, #eee);
    background: linear-gradient(top, #f8f8f8, #eee);
	float: left;
	font-size: 0.9em;
	font-weight: bold;
	width: 100%;
}

.bp_menu_toolbar {
	background: -webkit-linear-gradient(top, #f8f8f8, #eee);
    background: -moz-linear-gradient(top, #f8f8f8, #eee);
    background: linear-gradient(top, #f8f8f8, #eee);
	bottom: 0;
	padding: 5px;
	width: 100%;
}

.bp_sticky {
	position: fixed;
}

.bp_bar_container {
	background-color: #fefefe;
	margin: auto;
	width: 100%;
	z-index: 1;
}

.bp_bar_container a {
	text-decoration: none;
}

.bp_bar {
	background-color: transparent;
	margin: auto;
	width: 900px;
}

.bp_logo {
	background-color: #00ff00;
	float: left;
}

.bp_menu {
	background-color: #efefef;
	text-align: right;
}

.bp_menu ul {
	list-style: none;
}

.bp_menu li{
	display: inline;
}