/* Tabs */
.bp_tabs {
  position: relative;   
  min-height: 300px; /* This part sucks */
  clear: both;
  margin: 25px 0;
}

.bp_tab {
	float: left;
}

.bp_tab label {
	background: -webkit-linear-gradient(top, #f8f8f8, #eee);
    background: -moz-linear-gradient(top, #f8f8f8, #eee);
    background: linear-gradient(top, #f8f8f8, #eee);
	border: 1px solid #cccccc; 
	left: 1px; 	
	margin-left: -1px; 
	padding: 10px; 
	position: relative;
}

.bp_tab [type=radio] {
	display: none;   
}

.bp_content {
	background-color: #fcfcfc;
	border: 1px solid #dddddd;
	position: absolute;
	top: 28px;
	left: 0;
	background: white;
	right: 0;
	bottom: 0;
	margin: auto;
	padding: 20px;
	text-align: center;
}

.blastpad [type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}

.blastpad [type=radio]:checked ~ label ~ .content {
  z-index: 1;
}