/* Form default */
input {
	font-size: 1em;
	border: 1px solid #efefef;
	box-sizing: border-box;
	padding: 10px;
}

input[ type="text" ], input[ type="password" ], input[ type="email" ], textarea {	
	margin: 10px 0 0 0;
	width: 80%;
}

input[ type="submit" ], input[ type="button" ] {
	background-color: #18bc9c;
	color: #fefefe;
	font-weight: bold;
	margin: auto;
	padding: 10px 20px 10px 20px;
}

label {
	padding: 5px;
	box-sizing: border-box;
}
