/* Grid extra */

/* Layout extra */

.bp_clear {
	clear: both;
	overflow: auto;
}

/* Position */

.bp_top_right {
	position: absolute;
	right: 1.5em;
}

/* Container Size */

/* Full */
.bp_full {
	height: 100vh;
	min-height: 100%;
	max-width: 100%;
	width: 100%;
}

.bp_full_width {
	max-width: 100%;
	width: 100%;
}

.bp_full_height {
	height: 100vh;	
	min-height: 100%;
}

/* Panes. */

.bp_left_pane {	
	float: left; 
	width: 20%; 
}
.bp_main_pane {

}
.bp_right_pane {
	float: right;
	width: 20%;
}

/* Fluid width */
.bp_fluid {
	max-width: 100%;
}

.bp_extra_extra_wide {
	max-width: 100%;
	width: 1920px;
}

.bp_extra_wide {
	max-width: 1260px;
}

.bp_wide {
	max-width: 1080px;
}

.bp_narrow {
	max-width: 720px;
}

.bp_extra_narrow {
	max-width: 640px;
}

.bp_extra_extra_narrow {
	max-width: 320px;
}

/* Spacing. */
.bp_extra_extra_tight {
	padding: 0;
}

.bp_extra_tight {
	padding: 0.25em;
}

.bp_tight {
	padding: 0.5em;
}

.bp_loose {
	padding: 1em;
}

.bp_extra_loose {
	padding: 1.5em;
}

.bp_extra_extra_loose {
	padding: 2em;
}

/* Alignment. */
.bp_center {
	margin: auto;
}

.bp_left {
	float: left;
	width: 50%;
}

.bp_right {
	float: left;
	width: 50%;
}

/*
.bp_middle {
	height: 50%;
	left: 50%;
	max-width: 100%;
	margin: auto;
	min-width: 320px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 50%;
}*/

.bp_middle {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

/* Border. */

.bp_border {
	border: 0.1em solid #efefef;
	margin: 0.5em;
	padding: 0.5em;	
}

.bp_tight_border {
	border: 0.1em solid #efefef;
}

/* Scrollbar. */

.bp_not_scrollable {
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: -1;
	overflow: hidden;
}
.bp_scrollable {
	position: absolute;
	overflow-y: scroll;
	top: 0;
	height: 100%;
	padding-top: 10px;
}

/* Rows. */

.bp_row:after {
	clear: both;
	overflow: auto;
}

/* Columns. */

.bp_column_1 {
	float: left;
	width: 100%;
}

.bp_column_2 {
	float: left;
	width: 50%;
}

.bp_column_3 {
	float: left;
	width: 33%;
}

.bp_column_4 {
	float: left;
	width: 25%;
}

.bp_column_5 {
	float: left;
	width: 20%;
}

.bp_column_6 {
	float: left;
	width: 16%;
}

.bp_column_7 {
	float: left;
	width: 14%;
}

.bp_column_8 {
	float: left;
	width: 12%;
}

.bp_column_9 {
	float: left;
	width: 11%;
}

.bp_column_10 {
	float: left;
	width: 10%;
}

.bp_column_11 {
	float: left;
	width: 9%;
}

.bp_column_12 {
	float: left;
	width: 8%;
}

/* Mobile */
@media screen and (max-width: 800px) {
   .bp_column_1, .bp_column_2, .bp_column_3, .bp_column_4, .bp_column_5, .bp_column_6, 
   .bp_column_7, .bp_column_8, .bp_column_9, .bp_column_10, .bp_column_11, .bp_column_12 { 
    float: none;
    margin-right: 0;
    width: auto;   
  }
}