.bp_white { background-color: #FFFFFF;}
.bp_magenta { background-color: #FF0097;}
.bp_red { background-color: #E51400;}
.bp_orange { background-color: #F09609;}
.bp_yellow { background-color: #FFD700;}
.bp_olive { background-color: #8CBF26;}
.bp_green { background-color: #339933;}
.bp_teal { background-color: #00ABA9;}
.bp_blue { background-color: #1BA1E2;}
.bp_violet { background-color: #EE82EE;}
.bp_purple { background-color: #A200FF;}
.bp_pink { background-color: #E671B8;}
.bp_brown { background-color: #A05000;}
.bp_gray { background-color: #A0A0A0;}
.bp_black { background-color: #000000;}