<div>				
	<div class="title">
		<h1 class="center"><i class="fa fa-rocket"></i> &nbsp; BlastPad</h1>
	</div>
	<p>&nbsp;</p>
	<div class="text center">
		Sign up for a new account.	
	</div>	
	<div class="message"></div>	   
	<form action="" class="form" method="post">
	<span class="user_name">
		<label><i class="fa fa-user fa-lg"></i></label> 
		<input class="field" name="user_name" placeholder="Username" required="required" type="text" />
	</span>
	<br />
	<span class="password">			
		<label><i class="fa fa-key fa-lg"></i></label> 
		<input class="field" name="password" placeholder="Password" required="required" type="password" />
	</span>
	<br />
	<span class="email">			
		<label><i class="fa fa-envelope-o fa-lg"></i></label> 
		<input class="field" name="email" placeholder="Email address" required="required" type="email" />
	</span>
	<p>&nbsp;</p>
	<span class="submit"><input class="submit_button" name="login" type="submit" value="Sign up" /></span>
	</form>
</div>
