/* Grid extra */

.bp_column_1 {
	float: left;
	width: 1260px;
}

.bp_column_2 {
	float: left;
	width: 630px;
}

.bp_column_3 {
	float: left;
	width: 420px;
}

.bp_column_4 {
	float: left;
	width: 315px;
}

.bp_column_5 {
	float: left;
	width: 252px;
}

.bp_column_6 {
	float: left;
	width: 210px;
}

.bp_column_7 {
	float: left;
	width: 180px;
}

.bp_column_8 {
	float: left;
	width: 157px;
}

.bp_column_9 {
	float: left;
	width: 140px;
}

.bp_column_10 {
	float: left;
	width: 126px;
}

.bp_column_11 {
	float: left;
	width: 114px;
}

.bp_column_12 {
	float: left;
	width: 105px;
}